# Urls to use when executing external_search commands
search_url_g    https://scholar.google.com/scholar?q=
search_url_l    http://libgen.rs/scimag/?q=
search_url_s    https://www.semanticscholar.org/search?q=
search_url_w    https://www.google.com/search?q=

# Name of the font to use for UI text
ui_font Dank Mono

# Semicolon-separated list of command to execute upon sioyek startup
startup_commands   toggle_visual_scroll;toggle_dark_mode

# Increase search speed but increases memory usage
super_fast_search   1
